<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
        <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-r from-gray-200 to-gray-300">

<nav class="fixed top-0 w-full bg-gray-600 p-4 z-50">
    <div class="container mx-auto">
        <a href="#" class="text-white font-semibold text-xl">Upload Files</a>
    </div>
</nav>

<div layout:fragment="content"></div>

</body>
</html>